.editContainer{
  width:300px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding:0 10px 0 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #000;
  border-radius: 10px;
}

.closeWrapper{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: end;
  height:40px;
}

.addRideFormInput:focus {
  outline: none;
}
.editButton {
  width: 140px;
  height: 35px;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  transition: .2s linear;
  cursor: pointer;
}

.editButton:hover{
  background-color: #000;
  color: #fff;
  border:2px solid #fff;
}